<app-breadcrumb [title]="'Ubicación'" [breadcrumb]="'Mapa'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space  blog-page">
    <div class="container">
        <div>
            <h3><strong>Mercado miguel grau => Flor De Mayo 183-123, Cercado de Lima 15333</strong> </h3>
        </div>
        <div class="row">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.556931737184!2d-77.05381618464952!3d-12.005129844397237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf039e3a8f79%3A0xadc7505cd1873e01!2sFlor%20De%20Mayo%20183%2C%20Cercado%20de%20Lima%2015333!5e0!3m2!1sen!2spe!4v1632810900522!5m2!1sen!2spe"
                width="1400" height="650" style="border:1;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>
</section>
<!-- Section ends -->